body {
    background-color: cadetblue;
}

div#cima {
    background-color: cadetblue;
    
    border-bottom: 2px solid;
    border-color: black;
    box-sizing: border-box;
    display: inline-block;
}

div#meio {
    background-color: cadetblue;
    
    border-color: black;
    box-sizing: border-box;
    display: inline-block;
}

div#baixo {
    background-color: cadetblue;
    
    border-top: 2px solid;
    border-color: black;
    box-sizing: border-box;
    display: inline-block;
}